@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Inter:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
  }

  .logo-font {
    font-family: 'Fascinate', cursive;
    color: white;
  }
  

  .navbar {
    background-color: rgb(118, 131, 132);
  }

  .nav-link {
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }

  